html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    background-color: gray;
}
.footlinks {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
h1 {
    font-weight: lighter;
    font-size: 325%;
    padding: 0;
    margin: 20px 0 0 0;
    color: white;
}
h2 {
    font-weight: lighter;
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3 {
    font-weight: lighter;
    font-size: xx-large;
    margin: 10px;
}
a {
    display: inline-block;
    padding: 20px;
    color: white;
}
.centertext {
    text-align: center;
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:link, a:visited {
    text-decoration: none;
    
}
a:hover, a:active {
    text-decoration: underline;
}
#uppermain {
    background-image: url("img/atl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 476px;
}
#uppermaincenter {
    margin: 0 auto;
    height: 476px;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
#lowermain {
    padding-bottom: 100px;
}
#lowermaincenter {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#logo {
    margin-top: 70px;

}
#arrow {
    margin-top: 100px;
}
#copyright {
    font-size: smaller;
    color: silver;
}
.lmcColumn {
    width: 180px;
    margin: 0;
}
.lmcColumn p {
    font-size: 13px;
}
